
<div class="jumbotron">
    <p><span class="text-danger">{{checkout}}</span></p><hr>
    <form>

      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="formGroupExampleInput">First Name</label>
              <input type="text" class="form-control" placeholder="" ng-model="userdata.fname">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="formGroupExampleInput2">Last Name</label>
              <input type="text" class="form-control" placeholder="" ng-model="userdata.lname">
            </div>
          </div>
      </div>

      <div class="form-group">
        <label for="formGroupExampleInput2">Address 1</label>
        <input type="text" class="form-control" placeholder="" ng-model="userdata.add1">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Address 2</label>
        <input type="text" class="form-control" placeholder="" ng-model="userdata.add2">
      </div>

      <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="formGroupExampleInput">City</label>
              <input type="text" class="form-control" placeholder="" ng-model="userdata.city">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="formGroupExampleInput2">State</label>
              <input type="text" class="form-control" placeholder="" ng-model="userdata.state">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="formGroupExampleInput2">Pin</label>
              <input type="text" class="form-control" placeholder="" ng-model="userdata.pin">
            </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="formGroupExampleInput">Phone</label>
              <input type="text" ng-minlength="10" ng-maxlength="10" class="form-control" placeholder="" ng-model="userdata.phone">
            </div>
          </div>
      </div>

    </form>
</div>

<div class="jumbotron">
    <p><span class="text-danger">{{summary}}</span></p>
    <div ng-if="ordersummary.length>0">
          <table class="table">
            <thead>
              <tr>
                <th>Item Name</th>
                <th>Count</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat = "item in ordersummary">
                <td>{{item.name}}</td>
                <td>{{item.count}}
              <button class="buyButton" ng-click="addQty(item)"><span class="glyphicon glyphicon-plus"></span></button>
              <button class="returnButton" ng-click="subtractQty(item)"><span class="glyphicon glyphicon-minus"></span></button>
              </td>
                <td>{{item.amount}}/-</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div class="row">
              <div class="col-md-4">
                  <label for="formGroupExampleInput">Total Items</label>
              </div>
              <div class="col-md-4">
                  <label for="formGroupExampleInput2">{{totalcount}}</label>
              </div>
              <div class="col-md-4">
                  <label for="formGroupExampleInput2">{{totalamount}}</label>
              </div>
          </div>

      <button type="button" class="btn btn-primary" ng-click="confirmOrder()">Confirm Order</button>
    </div>

<!--     <div ng-if="ordersummary.length==0">
      No Order Placed !!
    </div>
 -->
 </div>
